/* 
https://docs.oracle.com/javase/1.5.0/docs/api/javax/security/auth/login/Configuration.html
 */

/* Use simple in memory LoginModule */
InMemoryLoginModuleRealm {
   jaas.LoginModules.InMemoryLoginModule required debug=true;
};

/* Use keycloack Login Module */
DirectAccessGrantsLoginRealm {
   jaas.LoginModules.KeycloackLoginModule required 
       debug=true
       keycloak-config-file="classpath:keycloak.json";
};